body{
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    font-size: 40px;
    text-align: center;
    color: aliceblue;
}


.discription{
    transition: 0.9 ease-in-out;
}